pytest
pytest-xdist
pytest-order
pytest-timeout
ruff
mypy
mktestdocs
pandera
tox
pyarrow
testbook
ipykernel
bandit
types-PyYAML
types-requests
types-toml
scikit-learn
#https://github.com/pypa/pip-audit/issues/982
pip-audit<2.10.0
